{% extends 'main/base.html' %}

{% block title %}
Изучение Английского
{% endblock %}


{% block content %}
<h1>Текста для изучения:</h1>
<h1>Вставьте текст </h1>
<form method="post">
    {% csrf_token %}
    <input type="text" placeholder="Введите название текста" class="form-control"><br>
    <textarea type="text" placeholder="Введите текст" class="form-control"></textarea><br>
    <button type="submit" class="btn btn-success">Добавить</button>

</form>
{% endblock %}

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Изучение Английского</title>-->
<!--    <link rel="stylesheet" href = 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css'>-->
<!--</head>-->
<!--<body style="margin-left:20px;">-->
<!--    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">-->
<!--      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">-->
<!--        <span class="fs-4">IT Overone</span>-->
<!--      </a>-->

<!--      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">-->
<!--        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>-->
<!--        <a class="me-3 py-2 text-dark text-decoration-none" href="/about-us">Про нас</a>-->
<!--        <a class="me-3 py-2 text-dark text-decoration-none" href="/english">английский</a>-->
<!--      </nav>-->
<!--    </div>-->
<!--    <h1 style="margin-left:20px;">Текст для изучения</h1>-->
<!--    <p><h3>My day</h3>-->
<!--First, I wake up. Then, I get dressed.<br> I walk to school. I do not ride a bike.<br> I do not ride the bus.<br> I like to go to school. <br>It rains. I do not like rain. I eat lunch. <br>I eat a sandwich and an apple.<br>-->

<!--I play outside. I like to play.<br> I read a book. I like to read books.<br> I walk home. I do not like walking home. <br>My mother cooks soup for dinner. The soup is hot.<br> Then, I go to bed. I do not like to go to bed<br></p>-->
<!--</body>-->
<!--</html>-->